* {
	border-radius: 10px;
	border: none;
}



window {
	font-size: 25px;
	font-family: "JetBrainsMono Nerd Font Bold";
	background-color: rgba(21, 18, 27, 0.7);
	color: #a6adc8;
}

#entry{
	padding: 0.25em;
}

#entry:selected {
	background-color: #a2a8d3;
}

#text:selected {
	color: #333333;
}

#input{
	background-color:rgba(21, 18, 27, 0.7);
	color: #a6adc8;	
}
